<?xml version="1.0"?>

<PropertyList>

	<!-- Merlion Flight Database -->
	
	<route>
		<rte_id>MIAFRAMUC1</rte_id>
		<depicao>EDDF</depicao>
		<arricao>EDDM</arricao>
		<route>
			<wp><wp-id>RID</wp-id></wp>
			<wp><wp-id>ANEKI</wp-id></wp>
			<wp><wp-id>SG</wp-id></wp>
			<wp><wp-id>WLD</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIAMUCFRA1</rte_id>
		<depicao>EDDF</depicao>
		<arricao>EDDM</arricao>
		<route>
			<wp><wp-id>WLD</wp-id></wp>
			<wp><wp-id>SG</wp-id></wp>
			<wp><wp-id>ANEKI</wp-id></wp>
			<wp><wp-id>RID</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIAFRACAI1</rte_id>
		<depicao>EDDF</depicao>
		<arricao>HECA</arricao>
		<route>
			<wp><wp-id>EUR</wp-id></wp>
			<wp><wp-id>RCH</wp-id></wp>
			<wp><wp-id>RJK</wp-id></wp>
			<wp><wp-id>UNA</wp-id></wp>
			<wp><wp-id>DBK</wp-id></wp>
			<wp><wp-id>TRN</wp-id></wp>
			<wp><wp-id>KAS</wp-id></wp>
			<wp><wp-id>AGH</wp-id></wp>
			<wp><wp-id>ATV</wp-id></wp>
			<wp><wp-id>MIL</wp-id></wp>
			<wp><wp-id>SHT</wp-id></wp>
			<wp><wp-id>ASNIR</wp-id></wp>
			<wp><wp-id>AXD</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIACAIFRA1</rte_id>
		<depicao>HECA</depicao>
		<arricao>EDDF</arricao>
		<route>
			<wp><wp-id>AXD</wp-id></wp>
			<wp><wp-id>ASNIR</wp-id></wp>
			<wp><wp-id>SHT</wp-id></wp>
			<wp><wp-id>MIL</wp-id></wp>
			<wp><wp-id>ATV</wp-id></wp>
			<wp><wp-id>AGH</wp-id></wp>
			<wp><wp-id>KAS</wp-id></wp>
			<wp><wp-id>TRN</wp-id></wp>
			<wp><wp-id>DBK</wp-id></wp>
			<wp><wp-id>UNA</wp-id></wp>
			<wp><wp-id>RJK</wp-id></wp>
			<wp><wp-id>RCH</wp-id></wp>
			<wp><wp-id>EUR</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIAFRAMUC2</rte_id>
		<depicao>EDDF</depicao>
		<arricao>EDDM</arricao>
		<route>
			<wp><wp-id>KTG</wp-id></wp>
			<wp><wp-id>ALB</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIAMUCFRA2</rte_id>
		<depicao>EDDM</depicao>
		<arricao>EDDF</arricao>
		<route>
			<wp><wp-id>ALB</wp-id></wp>
			<wp><wp-id>KTG</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIAMUCDXB1</rte_id>
		<depicao>EDDM</depicao>
		<arricao>OMDB</arricao>
		<route>
			<wp><wp-id>LNZ</wp-id></wp>
			<wp><wp-id>SNU</wp-id></wp>
			<wp><wp-id>PTB</wp-id></wp>
			<wp><wp-id>DVA</wp-id></wp>
			<wp><wp-id>FLR</wp-id></wp>
			<wp><wp-id>WRN</wp-id></wp>
			<wp><wp-id>ERD</wp-id></wp>
			<wp><wp-id>BUK</wp-id></wp>
			<wp><wp-id>GEM</wp-id></wp>
			<wp><wp-id>ERH</wp-id></wp>
			<wp><wp-id>KML</wp-id></wp>
			<wp><wp-id>ILM</wp-id></wp>
			<wp><wp-id>AWZ</wp-id></wp>
			<wp><wp-id>BUZ</wp-id></wp>
			<wp><wp-id>JAM</wp-id></wp>
			<wp><wp-id>KIS</wp-id></wp>
			<wp><wp-id>SIR</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIADXBMUC1</rte_id>
		<depicao>OMDB</depicao>
		<arricao>EDDM</arricao>
		<route>
			<wp><wp-id>SIR</wp-id></wp>
			<wp><wp-id>KIS</wp-id></wp>
			<wp><wp-id>JAM</wp-id></wp>
			<wp><wp-id>BUZ</wp-id></wp>
			<wp><wp-id>AWZ</wp-id></wp>
			<wp><wp-id>ILM</wp-id></wp>
			<wp><wp-id>KML</wp-id></wp>
			<wp><wp-id>ERH</wp-id></wp>
			<wp><wp-id>GEM</wp-id></wp>
			<wp><wp-id>BUK</wp-id></wp>
			<wp><wp-id>ERD</wp-id></wp>
			<wp><wp-id>WRN</wp-id></wp>
			<wp><wp-id>FLR</wp-id></wp>
			<wp><wp-id>DVA</wp-id></wp>
			<wp><wp-id>PTB</wp-id></wp>
			<wp><wp-id>SNU</wp-id></wp>			
			<wp><wp-id>LNZ</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIAMUCDME1</rte_id>
		<depicao>EDDM</depicao>
		<arricao>UUDD</arricao>
		<route>
			<wp><wp-id>RDG</wp-id></wp>
			<wp><wp-id>OKL</wp-id></wp>
			<wp><wp-id>TRZ</wp-id></wp>
			<wp><wp-id>LDZ</wp-id></wp>
			<wp><wp-id>KRN</wp-id></wp>
			<wp><wp-id>NF</wp-id></wp>
			<wp><wp-id>RUD</wp-id></wp>
			<wp><wp-id>MNS</wp-id></wp>
			<wp><wp-id>UF</wp-id></wp>
			<wp><wp-id>UK</wp-id></wp>
			<wp><wp-id>WZ</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIADMEMUC1</rte_id>
		<depicao>UUDD</depicao>
		<arricao>EDDM</arricao>
		<route>
			<wp><wp-id>WZ</wp-id></wp>
			<wp><wp-id>UK</wp-id></wp>
			<wp><wp-id>UF</wp-id></wp>
			<wp><wp-id>MNS</wp-id></wp>
			<wp><wp-id>RUD</wp-id></wp>
			<wp><wp-id>NF</wp-id></wp>
			<wp><wp-id>KRN</wp-id></wp>
			<wp><wp-id>LDZ</wp-id></wp>
			<wp><wp-id>TRZ</wp-id></wp>
			<wp><wp-id>OKL</wp-id></wp>
			<wp><wp-id>RDG</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIALGWLOS1</rte_id>
		<depicao>EGKK</depicao>
		<arricao>DNMM</arricao>
		<route>
			<wp><wp-id>CAN</wp-id></wp>
			<wp><wp-id>AS</wp-id></wp>
			<wp><wp-id>HUE</wp-id></wp>
			<wp><wp-id>VLC</wp-id></wp>
			<wp><wp-id>MOS</wp-id></wp>
			<wp><wp-id>GRS</wp-id></wp>
			<wp><wp-id>TIO</wp-id></wp>
			<wp><wp-id>RGN</wp-id></wp>
			<wp><wp-id>MOK</wp-id></wp>
			<wp><wp-id>TZE</wp-id></wp>
			<wp><wp-id>NY</wp-id></wp>
			<wp><wp-id>PA</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIALOSLGW1</rte_id>
		<depicao>DNMM</depicao>
		<arricao>EGKK</arricao>
		<route>
			<wp><wp-id>PA</wp-id></wp>
			<wp><wp-id>NY</wp-id></wp>
			<wp><wp-id>TZE</wp-id></wp>
			<wp><wp-id>MOK</wp-id></wp>
			<wp><wp-id>RGN</wp-id></wp>
			<wp><wp-id>TIO</wp-id></wp>
			<wp><wp-id>GRS</wp-id></wp>
			<wp><wp-id>MOS</wp-id></wp>
			<wp><wp-id>VLC</wp-id></wp>
			<wp><wp-id>HUE</wp-id></wp>
			<wp><wp-id>AS</wp-id></wp>
			<wp><wp-id>CAN</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIALGWMUC1</rte_id>
		<depicao>EGKK</depicao>
		<arricao>EDDM</arricao>
		<route>
			<wp><wp-id>LEQ</wp-id></wp>
			<wp><wp-id>DIK</wp-id></wp>
			<wp><wp-id>LBU</wp-id></wp>
			<wp><wp-id>WLD</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIAMUCLGW1</rte_id>
		<depicao>EDDM</depicao>
		<arricao>EGKK</arricao>
		<route>
			<wp><wp-id>WLD</wp-id></wp>
			<wp><wp-id>LBU</wp-id></wp>
			<wp><wp-id>DIK</wp-id></wp>
			<wp><wp-id>LEQ</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIALGWCMN1</rte_id>
		<depicao>EGKK</depicao>
		<arricao>GMMN</arricao>
		<route>
			<wp><wp-id>CAN</wp-id></wp>
			<wp><wp-id>NTS</wp-id></wp>
			<wp><wp-id>NEA</wp-id></wp>
			<wp><wp-id>SVL</wp-id></wp>
			<wp><wp-id>JRZ</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIACMNLGW1</rte_id>
		<depicao>GMMN</depicao>
		<arricao>EGKK</arricao>
		<route>
			<wp><wp-id>JRZ</wp-id></wp>
			<wp><wp-id>SVL</wp-id></wp>
			<wp><wp-id>NEA</wp-id></wp>
			<wp><wp-id>NTS</wp-id></wp>
			<wp><wp-id>CAN</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIALGWJFK1</rte_id>
		<depicao>EGKK</depicao>
		<arricao>KJFK</arricao>
		<route>
			<wp><wp-id>BUNON</wp-id></wp>
			<wp><wp-id>51N40</wp-id></wp>
			<wp><wp-id>MQ</wp-id></wp>
			<wp><wp-id>YQY</wp-id></wp>
			<wp><wp-id>PD</wp-id></wp>
			<wp><wp-id>YHZ</wp-id></wp>
			<wp><wp-id>A9</wp-id></wp>
			<wp><wp-id>YQI</wp-id></wp>
			<wp><wp-id>LFV</wp-id></wp>
			<wp><wp-id>GON</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIAJFKLGW1</rte_id>
		<depicao>KJFK</depicao>
		<arricao>EGKK</arricao>
		<route>
			<wp><wp-id>GON</wp-id></wp>
			<wp><wp-id>LFV</wp-id></wp>
			<wp><wp-id>YQI</wp-id></wp>
			<wp><wp-id>A9</wp-id></wp>
			<wp><wp-id>YHZ</wp-id></wp>
			<wp><wp-id>PD</wp-id></wp>
			<wp><wp-id>YQY</wp-id></wp>
			<wp><wp-id>MQ</wp-id></wp>
			<wp><wp-id>51N40</wp-id></wp>
			<wp><wp-id>BUNON</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIACAINBO1</rte_id>
		<depicao>HECA</depicao>
		<arricao>HKJK</arricao>
		<route>
			<wp><wp-id>AST</wp-id></wp>
			<wp><wp-id>SML</wp-id></wp>
			<wp><wp-id>SGD</wp-id></wp>
			<wp><wp-id>DMZ</wp-id></wp>
			<wp><wp-id>GM</wp-id></wp>
			<wp><wp-id>LOV</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIANBOCAI1</rte_id>
		<depicao>HKJK</depicao>
		<arricao>HECA</arricao>
		<route>
			<wp><wp-id>LOV</wp-id></wp>
			<wp><wp-id>GM</wp-id></wp>
			<wp><wp-id>DMZ</wp-id></wp>
			<wp><wp-id>SGD</wp-id></wp>
			<wp><wp-id>SML</wp-id></wp>
			<wp><wp-id>AST</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIAJFKATL1</rte_id>
		<depicao>KJFK</depicao>
		<arricao>KATL</arricao>
		<route>
			<wp><wp-id>PNE</wp-id></wp>
			<wp><wp-id>BAL</wp-id></wp>
			<wp><wp-id>GVE</wp-id></wp>
			<wp><wp-id>LYH</wp-id></wp>
			<wp><wp-id>AZW</wp-id></wp>
			<wp><wp-id>BZM</wp-id></wp>
			<wp><wp-id>SUG</wp-id></wp>
			<wp><wp-id>ODF</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIAATLJFK1</rte_id>
		<depicao>KATL</depicao>
		<arricao>KJFK</arricao>
		<route>
			<wp><wp-id>ODF</wp-id></wp>
			<wp><wp-id>SUG</wp-id></wp>
			<wp><wp-id>BZM</wp-id></wp>
			<wp><wp-id>AZW</wp-id></wp>
			<wp><wp-id>LYH</wp-id></wp>
			<wp><wp-id>GVE</wp-id></wp>
			<wp><wp-id>BAL</wp-id></wp>
			<wp><wp-id>PNE</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIADXBCOK1</rte_id>
		<depicao>OMDB</depicao>
		<arricao>VOCI</arricao>
		<route>
			<wp><wp-id>MCT</wp-id></wp>
			<wp><wp-id>SUR</wp-id></wp>
			<wp><wp-id>KADOL</wp-id></wp>
			<wp><wp-id>NITIX</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIACOKDXB1</rte_id>
		<depicao>VOCI</depicao>
		<arricao>OMDB</arricao>
		<route>
			<wp><wp-id>NITIX</wp-id></wp>
			<wp><wp-id>KADOL</wp-id></wp>
			<wp><wp-id>SUR</wp-id></wp>
			<wp><wp-id>MCT</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIADPSMEL1</rte_id>
		<depicao>WRRR</depicao>
		<arricao>YMML</arricao>
		<route>
			<wp><wp-id>CIN</wp-id></wp>
			<wp><wp-id>AYE</wp-id></wp>
			<wp><wp-id>LEC</wp-id></wp>
			<wp><wp-id>MIA</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIAMELDPS1</rte_id>
		<depicao>YMML</depicao>
		<arricao>WRRR</arricao>
		<route>
			<wp><wp-id>MIA</wp-id></wp>
			<wp><wp-id>LEC</wp-id></wp>
			<wp><wp-id>AYE</wp-id></wp>
			<wp><wp-id>CIN</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIADPSSYD1</rte_id>
		<depicao>WRRR</depicao>
		<arricao>YSSY</arricao>
		<route>
			<wp><wp-id>CIN</wp-id></wp>
			<wp><wp-id>BGO</wp-id></wp>
			<wp><wp-id>AS</wp-id></wp>
			<wp><wp-id>OOM</wp-id></wp>
			<wp><wp-id>TIB</wp-id></wp>
			<wp><wp-id>CBA</wp-id></wp>
			<wp><wp-id>DU</wp-id></wp>
			<wp><wp-id>RIC</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASYDDPS1</rte_id>
		<depicao>YSSY</depicao>
		<arricao>WRRR</arricao>
		<route>
			<wp><wp-id>RIC</wp-id></wp>
			<wp><wp-id>DU</wp-id></wp>
			<wp><wp-id>CBA</wp-id></wp>
			<wp><wp-id>TIB</wp-id></wp>
			<wp><wp-id>OOM</wp-id></wp>
			<wp><wp-id>AS</wp-id></wp>
			<wp><wp-id>BGO</wp-id></wp>
			<wp><wp-id>CIN</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIAMNLSIN1</rte_id>
		<depicao>RPLL</depicao>
		<arricao>WSSS</arricao>
		<route>
			<wp>
				<wp-id>OLRAX</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LEGED</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LULBU</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LAXOR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LAGOT</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DOLOX</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VEPLI</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<!-- USE PAPSU STAR FOR ARRIVAL -->
		</route>
	</route>
	
	<route>
		<rte_id>MIASINMNL1</rte_id>
		<depicao>WSSS</depicao>
		<arricao>RPLL</arricao>
		<route>
			<wp>
				<wp-id>HOSBA</wp-id>
				<altitude-ft>14000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
			<wp>
				<wp-id>TOMAN</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VERIN</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LUSMO</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LAGOT</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LAXOR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LULBU</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LEGED</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASINMNL2</rte_id>
		<depicao>WSSS</depicao>
		<arricao>RPLL</arricao>
		<route>
			<wp><wp-id>BUNTO</wp-id></wp>
			<wp><wp-id>LAGOT</wp-id></wp>
			<wp><wp-id>LULBU</wp-id></wp>
			<wp><wp-id>LBG</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIAMNLSIN2</rte_id>
		<depicao>RPLL</depicao>
		<arricao>WSSS</arricao>
		<route>
			<wp><wp-id>LBG</wp-id></wp>
			<wp><wp-id>LULBU</wp-id></wp>
			<wp><wp-id>LAGOT</wp-id></wp>
			<wp><wp-id>BUNTO</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIAHKGSIN1</rte_id>
		<depicao>VHHH</depicao>
		<arricao>WSSS</arricao>
		<route>
			<wp>
				<wp-id>CH</wp-id>
				<altitude-ft>8000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
			<wp>
				<wp-id>EPDOS</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>EPKAL</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>EGEMU</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>EXOTO</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>VEPAM</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>KARAN</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>ESPOB</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>ENREP</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>UGPEK</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>URIGO</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>OBDAB</wp-id>
				<altitude-ft>30000</altitude-ft>
				<ias-mach>0.65</ias-mach>
			</wp>
			<wp>
				<wp-id>VPT</wp-id>
				<altitude-ft>18000</altitude-ft>
				<ias-mach>0.62</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASINHKG1</rte_id>
		<depicao>WSSS</depicao>
		<arricao>VHHH</arricao>
		<route>
			<wp>
				<wp-id>VMR</wp-id>
				<altitude-ft>18000</altitude-ft>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>RAXIM</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>OTLON</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VISAT</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DUBSA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DAMOG</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DOLOX</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DUDIS</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DADAG</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DAMVO</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DOXAR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>NITOM</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DAMEL</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DONDA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DOSUT</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DULOP</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DUMOL</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIAMAASIN1</rte_id>
		<depicao>VOMM</depicao>
		<arricao>WSSS</arricao>
		<route>
			<wp>
				<wp-id>GIRNA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>ELSAR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DUBTA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>BAC</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>JILAT</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>ON</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>AMVIL</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>SALAX</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>ANBUS</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<!-- USE PAPSU STAR FOR ARRIVAL -->
		</route>
	</route>
	
	<route>
		<rte_id>MIASINMAA1</rte_id>
		<depicao>WSSS</depicao>
		<arricao>VOMM</arricao>
		<route>
			<wp>
				<wp-id>ANBUS</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>SALAX</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>AMVIL</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>ON</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>		
			<wp>
				<wp-id>JILAT</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>BAC</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DUBTA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>ELSAR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>GIRNA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASINHKG2</rte_id>
		<depicao>WSSS</depicao>
		<arricao>VHHH</arricao>
		<route>
			<wp><wp-id>SUSAR</wp-id></wp>
			<wp><wp-id>DUDIS</wp-id></wp>
			<wp><wp-id>CRA</wp-id></wp>
			<wp><wp-id>EXOTO</wp-id></wp>
			<wp><wp-id>IDOST</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIAHKGSIN2</rte_id>
		<depicao>VHHH</depicao>
		<arricao>WSSS</arricao>
		<route>
			<wp><wp-id>IDOST</wp-id></wp>
			<wp><wp-id>EXOTO</wp-id></wp>
			<wp><wp-id>CRA</wp-id></wp>
			<wp><wp-id>DUDIS</wp-id></wp>
			<wp><wp-id>SUSAR</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASINDEL1</rte_id>
		<depicao>WSSS</depicao>
		<arricao>VIDP</arricao>
		<route>
			<wp><wp-id>VJR</wp-id></wp>
			<wp><wp-id>VIH</wp-id></wp>
			<wp><wp-id>VBT</wp-id></wp>
			<wp><wp-id>VPL</wp-id></wp>
			<wp><wp-id>TAVUN</wp-id></wp>
			<wp><wp-id>RINDA</wp-id></wp>
			<wp><wp-id>KAKID</wp-id></wp>
			<wp><wp-id>AP</wp-id></wp>
			<wp><wp-id>KA</wp-id></wp>
			<wp><wp-id>ALI</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIADELSIN1</rte_id>
		<depicao>VIDP</depicao>
		<arricao>WSSS</arricao>
		<route>
			<wp><wp-id>ALI</wp-id></wp>
			<wp><wp-id>KA</wp-id></wp>
			<wp><wp-id>AP</wp-id></wp>
			<wp><wp-id>KAKID</wp-id></wp>
			<wp><wp-id>RINDA</wp-id></wp>
			<wp><wp-id>TAVUN</wp-id></wp>
			<wp><wp-id>VBT</wp-id></wp>
			<wp><wp-id>VPL</wp-id></wp>
			<wp><wp-id>VIH</wp-id></wp>
			<wp><wp-id>VJR</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASINBKK1</rte_id>
		<depicao>WSSS</depicao>
		<arricao>VTBS</arricao>
		<route>
			<wp><wp-id>VKN</wp-id></wp>
			<wp><wp-id>GK</wp-id></wp>
			<wp><wp-id>KUMTO</wp-id></wp>
			<wp><wp-id>BUT</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIABKKSIN1</rte_id>
		<depicao>VTBS</depicao>
		<arricao>WSSS</arricao>
		<route>
			<wp><wp-id>BUT</wp-id></wp>
			<wp><wp-id>KUMTO</wp-id></wp>
			<wp><wp-id>GK</wp-id></wp>
			<wp><wp-id>VKN</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASINSGN1</rte_id>
		<depicao>WSSS</depicao>
		<arricao>VVTS</arricao>
		<route>
			<wp><wp-id>VPT</wp-id></wp>
			<wp><wp-id>ENREP</wp-id></wp>
			<wp><wp-id>BIBAN</wp-id></wp>
			<wp><wp-id>BITIS</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASGNSIN1</rte_id>
		<depicao>VVTS</depicao>
		<arricao>WSSS</arricao>
		<route>
			<wp><wp-id>BITIS</wp-id></wp>
			<wp><wp-id>BIBAN</wp-id></wp>
			<wp><wp-id>ENREP</wp-id></wp>
			<wp><wp-id>VPT</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASINDPS1</rte_id>
		<depicao>WSSS</depicao>
		<arricao>WRRR</arricao>
		<route>
			<wp><wp-id>TPG</wp-id></wp>
			<wp><wp-id>AKTOD</wp-id></wp>
			<wp><wp-id>TPN</wp-id></wp>
			<wp><wp-id>KJ</wp-id></wp>
			<wp><wp-id>SBR</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIADPSSIN1</rte_id>
		<depicao>WRRR</depicao>
		<arricao>WSSS</arricao>
		<route>
			<wp><wp-id>SBR</wp-id></wp>
			<wp><wp-id>KJ</wp-id></wp>
			<wp><wp-id>TPN</wp-id></wp>
			<wp><wp-id>AKTOD</wp-id></wp>			
			<wp><wp-id>TPG</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIAPVGSIN1</rte_id>
		<depicao>ZSPD</depicao>
		<arricao>WSSS</arricao>
		<route>
			<wp>
				<wp-id>JTN</wp-id>
				<ias-mach>0.82</ias-mach>
			</wp>
			<wp>
				<wp-id>NNX</wp-id>
				<ias-mach>0.82</ias-mach>
			</wp>
			<wp>
				<wp-id>WYN</wp-id>
				<ias-mach>0.82</ias-mach>
			</wp>
			<wp>
				<wp-id>TAMOT</wp-id>
				<ias-mach>0.82</ias-mach>
			</wp>
			<wp>
				<wp-id>ALLEY</wp-id>
				<ias-mach>0.82</ias-mach>
			</wp>
			<wp>
				<wp-id>EPDOS</wp-id>
				<ias-mach>0.82</ias-mach>
			</wp>
			<wp>
				<wp-id>VEPLI</wp-id>
				<ias-mach>0.82</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASINPVG1</rte_id>
		<depicao>WSSS</depicao>
		<arricao>ZSPD</arricao>
		<route>
			<wp>
				<wp-id>VMR</wp-id>
				<ias-mach>0.82</ias-mach>
			</wp>
			<wp>
				<wp-id>CH</wp-id>
				<ias-mach>0.82</ias-mach>
			</wp>
			<wp>
				<wp-id>SHL</wp-id>
				<ias-mach>0.82</ias-mach>
			</wp>
			<wp>
				<wp-id>PLT</wp-id>
				<ias-mach>0.82</ias-mach>
			</wp>
			<wp>
				<wp-id>SX</wp-id>
				<ias-mach>0.82</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASINCAN1</rte_id>
		<depicao>WSSS</depicao>
		<arricao>ZGGG</arricao>
		<route>
			<wp><wp-id>VMR</wp-id></wp>
			<wp><wp-id>ENREP</wp-id></wp>
			<wp><wp-id>BIBAN</wp-id></wp>
			<wp><wp-id>DAN</wp-id></wp>
			<wp><wp-id>SYX</wp-id></wp>
			<wp><wp-id>MLT</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIACANSIN1</rte_id>
		<depicao>ZGGG</depicao>
		<arricao>WSSS</arricao>
		<route>
			<wp><wp-id>MLT</wp-id></wp>
			<wp><wp-id>SYX</wp-id></wp>
			<wp><wp-id>DAN</wp-id></wp>
			<wp><wp-id>BIBAN</wp-id></wp>
			<wp><wp-id>ENREP</wp-id></wp>
			<wp><wp-id>VMR</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASINCTU1</rte_id>
		<depicao>WSSS</depicao>
		<arricao>ZUUU</arricao>
		<route>
			<wp><wp-id>IKUMI</wp-id></wp>
			<wp><wp-id>PQ</wp-id></wp>
			<wp><wp-id>RAMBU</wp-id></wp>
			<wp><wp-id>LADIS</wp-id></wp>
			<wp><wp-id>DADOL</wp-id></wp>
		</route>
	</route>

	<route>
		<rte_id>MIACTUSIN1</rte_id>
		<depicao>ZUUU</depicao>
		<arricao>WSSS</arricao>
		<route>
			<wp><wp-id>DADOL</wp-id></wp>
			<wp><wp-id>LADIS</wp-id></wp>
			<wp><wp-id>RAMBU</wp-id></wp>
			<wp><wp-id>PQ</wp-id></wp>
			<wp><wp-id>IKUMI</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIAPVGICN1</rte_id>
		<depicao>ZSPD</depicao>
		<arricao>RKSI</arricao>
		<route>
			<wp><wp-id>ODULO</wp-id></wp>
			<wp><wp-id>DOPNO</wp-id></wp>
			<wp><wp-id>ARIVA</wp-id></wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIAICNPVG1</rte_id>
		<depicao>RKSI</depicao>
		<arricao>ZSPD</arricao>
		<route>
			<wp><wp-id>ARIVA</wp-id></wp>
			<wp><wp-id>DOPNO</wp-id></wp>
			<wp><wp-id>ODULO</wp-id></wp>
		</route>
	</route>

</PropertyList>
